@charset "UTF-8";

/*=============RESET=============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    /* font-optical-sizing: auto; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    /* font-weight: 500; */
    /*max-width: 100%*/
    /*max-width = 반응형 웹*/
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

/* ------------------------------------------------ */


/*=============header=============*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 500;
    font-size: 28px;
    width: 100%;
    height: 60px;
    background: #0066FF;
    padding: 0 50px 0 30px;
    position: fixed;
    z-index: 10;
}

header ul {
    display: flex;
    margin-left: auto;
    padding-right: 30px;
    gap: 60px;
    color: #fff;
    
}

.navigation {
    display: none;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-size: 20px;
    top: 60px;
    left: 0;
    width: 100%;
    height: 180px;
    padding-top: 5px;
    background: linear-gradient(180deg, rgba(0,102,255,1), rgba(0,102,255,0.3) 80%, rgba(0,102,255,0) 100%);
    /* background: #0066FF; */
    /* padding: 5px 50px 0 30px; */
    position: fixed;
    z-index: 10;
}

.navigation ul {
    justify-content: flex-end;
    display: flex;
    margin-left: auto;
    color: #fff;
    
    
}

.ul_about {
    position: absolute;
    right: 19.4%;
}

.ul_profile {
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 10.5%;
    text-align: center;
    gap: 15px;
}

.ul_album {
    position: absolute;
    right: 4.2%;
}

header:hover .navigation {
            display: block;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #000;
}


.home_logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 4%;
    margin: 0 30px;
    transform: translate(-50%, -50%);
}

.home_logo a {
    display: block;
    width: 120px;
    height: 120px;
    background-image: url(../image/logo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.home_logo a:hover {
    background-image: url(../image/logo_black.png);
}

/* ------------------------------------------- album info ----------------------------------- */

.container {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 80%; 
    padding-top: 200px;
    margin: 0 auto; 
    margin-bottom: 200px;
}

.album-art {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 50%; 
}

.cover {
    position: absolute;
    left: 7%; 
    top: 105px;
    width: 500px;
    height: 500px;
    background-image: url(../image/album01.png);
    border: 10px solid #fff;
    z-index: 2;
    box-shadow: 0 4px 20px rgba(0,102,255, 0.3);
}

.record {
    position: absolute;
    top: 18%;
    left: 6%; 
    transform: translateX(20px); 
    width: 450px;
    height: 450px;
    background-image: url(../image/CD.png);
    background-position: center;
    background-size: contain;
    z-index: 1;
    animation: rotateRecord 6s linear infinite;
    box-shadow: 0 4px 20px rgba(0,102,255, 0.3);
    border-radius: 50%;
}



@keyframes rotateRecord {
    0% {
        transform: translateX(50%) rotate(0deg);
    }
    100% {
        transform: translateX(50%) rotate(360deg);
    }
}

/* 앨범 제목과 설명 스타일 */
.playlist {
    /* padding: 0 20px 0 20px; */
    border-radius: 5px;
    width: 650px;
    /* border: 2px solid #0066FF; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 앨범 제목 스타일 */
.title {
    font-size: 70px;
    font-weight: 600;
    color: #0066FF;
    padding-top: 15px;
    padding-left: 5px;
    /* margin-bottom: 15px; */
}

.favorite-checkbox {
    display: none;
}

.favorite {
    width: 50px;
    height: 50px;
    background-image: url('../image/heart01.png'); 
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.favorite-checkbox:checked + .favorite {
    background-image: url('../image/heart02.png'); 
}

/* 설명 영역 */
.description {
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 10px;
}

.description p {
    font-size: 24px;
    font-weight: 500;
}

/* 트랙 목록 스타일 */
.tracks .track {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    /* font-weight: 500; */
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}


.track:hover {
    background-color: rgb(0,102,255);
    color: #fff;
}

.track a {
    width: 430px;
    padding: 5px 0 5px 0;
    color: #000;
    text-decoration: none;
}

.track a:hover {
    color: #fff;
}


.track {
    position: relative;
}


button.play-pause {
    position: absolute;
    top: 35.5%;
    right: 3%;
    font-size: 16px;
    background-color: rgba(0,0,0,0);
    border: none;
    z-index: 1;
}

button.play-pause:before {
    content: "▶";
}


audio.track_audio {
    position: absolute;
    top: 7%;
    right: -38%;
    opacity: 0;
    z-index: 2;
    overflow-x: hidden;
}








/* -------------------------------footer-------------------------------- */
footer {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    width: 100%;
    height: 150px;
    background: #0066FF;
    padding: 20px 16px; 
    color: #fff; 
}

footer .footer_logo {
    width: 120px;
    height: 80px;
    background-image: url(../image/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

footer p {
    font-size: 18px;
    margin-top: 4px;
    color: white;
}


footer .sns {
    display: flex;
    gap: 15px;
    width: auto; 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .sns li {
    width: 40px;
    height: 40px;
    padding-top: 5px;
}

footer .sns a {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


footer .sns .twitter a {
    display: block;
    background-image: url('../image/twi_fff.png');

}

footer .sns .twitter a:hover {
    background-image: url('../image/twi_000.png');
}

footer .sns .instagram a {
    display: block;
    background-image: url('../image/insta_fff.png');

}

footer .sns .instagram a:hover {
    background-image: url('../image/insta_000.png');
}

footer .sns .facebook a {
    display: block;
    background-image: url('../image/face_fff.png');

}

footer .sns .facebook a:hover {
    background-image: url('../image/face_000.png');
}
